{% extends 'common/index.html' %}
{% load static %}

{% block content %}
    <form class="form-group" method="post">
        <p class="info-text">
            Отчети
        </p>
        <hr>
        {% csrf_token %}
        {% for field in form %}
            <div class="form-space">
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <button name="display" class = "btn btn-info " type="submit">Създай отчет</button>
        <button name="excel" class = "btn btn-info " type="submit">Към Excel</button>
    </form>
{% endblock %}
