{% extends 'common/index.html' %}
{% load static %}    

{% block content %}
    <script src="{% static 'enter_instead_tab_script.js' %}"></script>
    <div class="orders">
        <div class="record-container">
            <p class="info-text">Поръчка</p>
            <div class="form-group">
                    <h4>{{ partner.name }}</h4>
                    <h5>Баланс: {{ partner.balance }} лв</h5>
                    {% if record.order %}
                        <h5>По поръчка {{ record.order }}</h5>                            
                    {% endif %}
                    <hr>
                <script src="{% static 'start_field_focus.js' %}"></script>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-space">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.help_text }}
                            {{ field.error }}
                            <br>
                        </div>
                    {% endfor %}
                
                    {% block extra_buttons %}
                    {% endblock %}
                
                    <button name="save" class="btn btn-info mt-1">Запис</button>
                </form>
            </div>
        </div>
        <div class="record-container">
            {% block table %}
            {% endblock table %}
        </div>
    </div>
    <script src="{% static 'event_listener.js' %}"></script>
{% endblock content %}