{% load static %}
{% load user_info %}

<nav class="navbar navbar-expand-lg bg-info-subtle" style="background-color: rgba(2, 255, 209, 0.32);">
    <div class="container-fluid">
        <a href="{% url 'dashboard' %}">
            <img src="{% static 'logo-nadejda.bmp' %}" alt="logo" width="120" height="50" class="d-inline-block align-text-top">
        </a>
        <a class="nav-link fs-6 mx-3" aria-current="page" href="{% url 'create_report' %}">
            Отчети
        </a>
        <a class="nav-link fs-6 mx-3" aria-current="page" href="{% url 'glass_production' %}">
            За производство
        </a>
    
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            {% if current_path == '/' %}
                <ul class="navbar-nav fs-6">
                    <li  class="nav-item px-5">
                        <form class="d-flex" method="Post">
                            <span class="form-control me-1 bg-info-subtle fs-6">
                                {% csrf_token %}
                                {{ create_form }}
                            </span>
                            <button name="create" class="btn btn-info btn-sm mx-1 fs-6" type="submit">Избери</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form class="d-flex" method="Post">
                            <span class="form-control me-1 bg-info-subtle fs-6">
                                {% csrf_token %}
                                {{ search_form }}
                            </span>
                            <button name="search" class="btn btn-info btn-sm mx-1 fs-6" type="submit">Търси</button>
                        </form>
                    </li>
                </ul>
            {% endif %}
        </div>
    
        <div class="collapse navbar-collapse d-flex justify-content-end">
            <ul class="navbar-nav fs-6">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link fs-6 mx-3" aria-current="page" href="{% url 'errors_test' %}">
                            Тест
                        </a>
                    </li>                      
                    <li class="nav-item">
                        <a class="nav-link fs-6 mx-3" aria-current="page" href="{% url 'partner_create' %}">
                            Нова фирма
                        </a>
                    </li>
                    <li class="nav-item">
                        {% if user.is_staff %}
                            <a class="nav-link pt-2" href="{% url 'cash_report' %}">
                              <span>Каса</span>
                            </a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pt-2" href="{% url 'profile_details' user.pk %}">
                          <span>{{ user.username }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <form id = "logout-form" action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                        </form>
                        <a class="nav-link pt-2" href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                            <span>Изход</span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Вход</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


