{% extends 'common/index.html' %} 
{% load static %}

{% block content %}
    
    <div class="container-fluid text-center">
        <h5 class="text-center mt-4">
            Ще изтриете следната поръчка:
        </h5>
        <div class="form-group">
            <div class="mb-3">
                <h4>{{ orders.first.record.partner }}</h4>
                <hr>
                <h5>Поръчка за стъклопакети: {{ orders.first.record.order }}</h5>
            </div>

            <form method="post">
                {% csrf_token %}
                <div class = "buttons-group">
                    <button name="delete" class="buttons buttons--danger">Изтрий</button>
                    <a href="{% url 'dashboard' %}">
                        <div class="buttons">Откажи</div>
                    </a>                    
                </div>
            </form>
        </div>
    </div>
    <div style="display: flex; justify-content: center">
        {% include 'glasses/glass_table.html' %}
    </div>
    
{% endblock content %}