{% extends 'common/index.html' %} 
{% load static %}

{% block content %}
    <div class="container-fluid text-center">
        <h5 class="text-center mt-4">
            Фирма: {{ orders.first.record.partner }}, Поръчка: {{ orders.first.record.order }}
        </h5>
        {% if not orders.first.sent_for_working %}
            <a href="{% url 'glass_update' record_pk orders.first.pk old_total %}">
                <button class="btn btn-info my-3">Редактирай</button>
            </a>
            <a href="{% url 'record_glass_delete' record_pk %}">
                <button class="text-right btn btn-info my-3">Изтрий</button>
            </a>
        {% else %}
            <a href="{% url 'glass_excel' orders.first.sent_for_working %}">
                <h5>В производство: {{ orders.first.sent_for_working|date:"Y-m-d H:i:s" }}</h5>
            </a>
        {% endif %}
    </div>
    {% include 'glasses/glass_table.html' %}
{% endblock content %}