{% load static %}

<table class="table table-striped table-hover border=" border="2">
    <tr class="text-center">
        <th>Първо стъкло</th>
        <th>Второ стъкло</th>
        <th>Трето стъкло</th>
        <th>Дебелина</th>
        <th>Цена</th>
        <th>Широчина</th>
        <th>Височина</th>
        <th>Количество</th>
    </tr>
    {% for current_order in all_order %}
        <tr class="text-center">
            {% for value in current_order.values %}
                <td>{{value}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
