{% extends 'common/index.html' %} 
{% load static %}

{% block content %}
    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            <span class="message">
                Искате ли да добавите сумата 1000 към цената на поръчка {{ record.order }}
            </span>
            <input>
            <p>
                <button name="ok" class="buttons">
                    Да
                </button>
                <button name="cancel" class="buttons">
                    Не
                </button>
            </p>
        </form>
    </div>
{% endblock content %}