{% load static %}

<table>
    <tr>
        <th>Стъкло I</th>
        <th>Стъкло II</th>
        <th>Стъкло III</th>
        <th>Дебелина</th>
        <th>Цена</th>
        <th>Широчина</th>
        <th>Височина</th>
        <th>Количество</th>
        <th>Добавка</th>
        <th>Сума</th>
    </tr>
    {% for order in orders %}
        <tr class="{% if order.id == pk %}highlight{% endif %}">
            <td>{{order.first_glass}}</td>
            {% if order.second_glass %}
                <td>{{order.second_glass}}</td>
            {% else %}
                <td></td>
            {% endif %}
            {% if order.third_glass %}
                <td>{{order.third_glass}}</td>
            {% else %}
                <td></td>
            {% endif %}
            <td>{{order.thickness}}</td>
            <td>{{order.unit_price}}</td>
            <td>{{order.width}}</td>
            <td>{{order.height}}</td>
            <td>{{order.number}}</td>
            {% if order.supplement %}
                <td>{{order.supplement}}</td>
            {% else %}
                <td></td>
            {% endif %}
            <td>{{order.price}}</td>
        </tr>
    {% endfor %}
</table>

