{% load static %}

<table>
    <tr class="text-center">
        <th>Клиент</th>
{#        <th>|</th>#}
        <th>Поръчка</th>
        <th>Шир.</th>
        <th>Вис.</th>
        <th>Брой</th>
        <th>Вид</th>
{#        <th>|</th>#}
        <th>ЕЦ</th>
        <th>Площ</th>
{#        <th>ЦБ</th>#}
{#        <th>КЦ</th>#}
        <th>ЦО</th>
        <th>Доб</th>
        <th>КРЦ</th>
        <th class="table-columns">ЦН</th>

    </tr>
    {% for order in orders %}
        <tr class="{% if order.8 == pk %}highlight{% endif %}">
            <td>{{ order.0 }}</td>
{#            <td>|</td>#}
            <td>{{ order.1 }}</td>
            <td>{{ order.2 }}</td>
            <td>{{ order.3 }}</td>
            <td>{{ order.5 }}</td>
            <td>{{ order.7 }}</td>
{#            <td>|</td>#}
            <td>{{ order.9|floatformat:2 }}</td>
            <td>{{ order.10|floatformat:2 }}</td>
{#            <td>{{ order.11|floatformat:2 }}</td>#}
{#            <td>{{ order.12|floatformat:2 }}</td>#}
            <td>{{ order.13|floatformat:2 }}</td>
            <td>{{ order.14|floatformat:2 }}</td>
            <td>{{ order.15|floatformat:2 }}</td>
            <td>{{ order.16|floatformat:2 }}</td>
        </tr>
    {% endfor %}
</table>

