{% extends 'common/create.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-4">
                <h5>Редакция на поръчка за стъклопакети</h5>
                <div class="form-group">
                    <div class="mb-3">
                        <h4>{{ orders.first.record.partner }}</h4>
                        <hr>
                        <h5>Поръчка: {{ orders.first.record.order }}</h5>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-space">
                                {{ field.label_tag }}
                                {{ field }}
                                {{ field.help_text }}
                                {{ field.error }}
                                <br>
                            </div>
                        {% endfor %}
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                            {% if prev_order %}
                                <a href="{% url 'glass_update' record_pk prev_order old_total %}">
                                    <button name="Previous" class="btn btn-info me-md-5">
                                        Предишен
                                    </button>
                                </a>
                            {% endif %}
                            {% if next_order %}
                                <a href="{% url 'glass_update' record_pk next_order old_total %}">
                                    <button name="Next" class="btn btn-info">
                                        Следващ
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                        <button name="save" class="btn btn-info mt-4 mx-3">Запис</button>
                    </form>
                </div>
            </div>
            <div class="col-8 border">
                <p style="font-size:1.2em; font-weight:600">
                    <span>Брой: {{ glass_data.total_number }}</span>
                    <span class="mx-5">Площ: {{ glass_data.total_area }} кв.м</span>
                    <span>Стойност на стъклопакетите: {{ glass_data.total_price }} лв</span>
                </p>
                <div style="padding-left: 60px">
                    {% include 'glasses/glass_table.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
