body {
    background: rgba(92, 239, 208, 0.13) !important;
}

.navbar {
    background-color: rgba(2, 255, 209, 0.32);
}

.navbar-left {
    float: left;
    margin: 0;
    padding: 0;
}

.navbar-left li {
    display: inline-block;
    padding-left: 20px;
}

.navbar-right {
    float: right;
    margin: 0;
    padding: 0;
}

.navbar-right li {
    display: inline-block;
    padding-right: 20px;
}

.link-nav {
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.hr {
    margin: 0;
}

.info-text {
    text-align: center;
    font-size: 20px;
    color: black;
    margin-bottom: 2px;
    margin-top: 2px;
}

.form-group {
    border: 1px solid #58b0e8;
    border-radius: 10px;
    background-color:#cff4fc;
    width: 50%;
    min-width: 370px;
    margin: 5px auto;
    padding: 5px 5px;
    text-align: center;
    color: darkblue;
}

.form-space {
    margin-bottom: 8px;
}

.info {
    display: flex;
    align-items: center;
    margin: 25px 15px;
    font-size: 20px;
}

.form-table {
    display: grid;
    place-items: center;
    padding: 0 10px 10px 10px;
}

.max-height-report {
    height: 90vh;
    overflow-y: scroll;
}

.table-glass {
    margin: 10px 20px 10px 10px;
    text-align: center;
}

.table-columns {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}

.production-table-glass {
    display: grid;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.highlight {
    background-color: lightgray;
}

.message {
    font-size: 1.2em;
    font-weight: 600;
}

.two-containers {
    height: auto;
}
