body {
    background: rgba(92, 239, 208, 0.13) !important;
}

.navbar {
    background-color: rgba(2, 255, 209, 0.32);
}

.navbar-left {
    float: left;
    margin: 0;
    padding: 0;
}

.navbar-left li {
    display: inline-block;
    padding-left: 20px;
}

.navbar-right {
    float: right;
    margin: 0;
    padding: 0;
}

.navbar-right li {
    display: inline-block;
    padding-right: 20px;
}

.link-nav {
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.logo {
    border: 1px solid darkblue;
    border-radius: 5px;
}

td, th{
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

.hr {
    margin: 0;
}

.info-text {
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    color: black;
    margin: 5px;

}

.form-group {
    border: 1px solid #58b0e8;
    border-radius: 10px;
    background-color:#cff4fc;
    min-width: 300px;
    max-width: 350px;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    color: darkblue;
}

.form-space {
    margin-bottom: 10px;
}

.info {
    display: flex;
    align-items: center;
    margin: 15px 15px;
    font-size: 20px;
}

.max-height-report {
    height: 90vh;
    overflow-y: scroll;
}

.production-table-glass {
    display: grid;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.highlight {
    background-color: lightgray;
}

.message {
    font-size: 1.2em;
    font-weight: 600;
}

.orders {
    display: flex;
    justify-content: center;
}

.record-container {
    display: flex;
    justify-content: space-around;

    min-width: 800px;
    text-align: center;
}

.glass-container {
    display: flex;
    justify-content: space-around;
}

.production-container{
    min-width: 100px;
    border: 1px solid lightskyblue;
    text-align: center;
    padding: 5px;
    flex-grow: 1;
}

